body {
  width: 70%;
  margin: 2rem auto;
}

.title {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  /* align-items: center; */
}

.card {
  margin: 1rem;
  overflow: hidden;
}

.modal-details {
  width: 100%;
  margin-top: 10rem;
}

.rating {
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 30px;
  position: absolute;
  margin: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.gbr {
  height: 400px;
}

.dura {
  position: absolute;
  right: 0;
  margin: 370px 10px 0 0;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
}
